<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        function copy_text(text) {
            var copyText = text
            var input = document.createElement('input');
            input.setAttribute('value', copyText);
            document.body.appendChild(input);
            input.select();
            document.execCommand('copy');
            document.body.removeChild(input);
            showAndHideElement("pop_up")
        }
        function makeDisplayFlex(element) {
            var element = document.querySelector('.' + element);
            element.style.display = 'flex';
        }
        function makeDisplayNone(element) {
            var element = document.querySelector('.' + element);
            element.style.display = 'none';
        }
        function showAndHideElement(element) {
            var element = document.querySelector('.' + element); // Замените 'yourElementId' на актуальный ID вашего элемента
            element.style.display = 'block'; // Показываем элемент

            setTimeout(function () {
                element.style.display = 'none'; // Скрываем элемент через 1 секунду
            }, 500);
        }


    </script>
</head>

<body>
    <div class="wrapper">
        <div class="pop_up_info_get" style="display: none;">
            <div class="image-instruction" style="background-image: url({% static "images/instructions.jpg" %});">
                <button class="btn-close-instruction"
                    style="width: 26px;height: 26px;display: flex;position: absolute; top: 0; right: 0;"
                    onclick="makeDisplayNone('pop_up_info_get')">x</button>
            </div>
        </div>
        <div class="content">
            <header class="nav-menu">
                <div class="icon">
                    <a class="tn-atom" href="https://itomsk55.ru/">
                        <img class="tn-atom__img"
                            src="https://static.tildacdn.com/tild3635-3635-4137-b964-306231336537/logo_blue.svg" alt=""
                            imgfield="tn_img_1712748589603">
                    </a>
                </div>
                <div class="contacts">
                    <div class="phoneNumber">
                        <button class="copied" onclick="copy_text('+7 (3812) 63-28-48')"
                            style="background-color: transparent; border: none; margin-top: 3px;">
                            <svg fill="#0e2790" height="13px" width="13px" version="1.1" id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 473.806 473.806" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4
                                c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8
                                c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6
                                c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5
                                c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26
                                c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9
                                c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806
                                C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20
                                c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6
                                c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1
                                c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3
                                c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5
                                c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8
                                c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9
                                l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1
                                C420.456,377.706,420.456,388.206,410.256,398.806z" />
                                        <path d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2
                                c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11
                                S248.656,111.506,256.056,112.706z" />
                                        <path d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11
                                c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2
                                c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z" />
                                    </g>
                                </g>
                            </svg>
                        </button>
                        <a class="number">
                            +7 (3812) 63-28-48
                        </a>
                        <div class="pop_up">
                            <p>Скопировано</p>
                        </div>
                    </div>
                    <div class="icon-contacts">
                        <a class="whatsApp"
                            href="https://wa.me/+79959317812?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%21%20%D0%A5%D0%BE%D1%87%D1%83%20%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D0%B0%D1%82%D1%8C%D1%81%D1%8F%20%D0%BD%D0%B0%20%D0%BA%D0%BE%D0%BD%D1%81%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%86%D0%B8%D1%8E%20%D0%BF%D0%BE%20IT%20%D1%81%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8F%D0%BC.%20%D0%9A%D0%BE%D0%B3%D0%B4%D0%B0%20%D1%8F%20%D0%BC%D0%BE%D0%B3%D1%83%20%D0%BA%20%D0%B2%D0%B0%D0%BC%20%D0%BF%D0%BE%D0%BF%D0%B0%D1%81%D1%82%D1%8C%3F">
                            <svg fill="#0e2790" width="20px" height="20px" viewBox="0 0 16 16"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.42 9.49c-.19-.09-1.1-.54-1.27-.61s-.29-.09-.42.1-.48.6-.59.73-.21.14-.4 0a5.13 5.13 0 0 1-1.49-.92 5.25 5.25 0 0 1-1-1.29c-.11-.18 0-.28.08-.38s.18-.21.28-.32a1.39 1.39 0 0 0 .18-.31.38.38 0 0 0 0-.33c0-.09-.42-1-.58-1.37s-.3-.32-.41-.32h-.4a.72.72 0 0 0-.5.23 2.1 2.1 0 0 0-.65 1.55A3.59 3.59 0 0 0 5 8.2 8.32 8.32 0 0 0 8.19 11c.44.19.78.3 1.05.39a2.53 2.53 0 0 0 1.17.07 1.93 1.93 0 0 0 1.26-.88 1.67 1.67 0 0 0 .11-.88c-.05-.07-.17-.12-.36-.21z" />
                                <path
                                    d="M13.29 2.68A7.36 7.36 0 0 0 8 .5a7.44 7.44 0 0 0-6.41 11.15l-1 3.85 3.94-1a7.4 7.4 0 0 0 3.55.9H8a7.44 7.44 0 0 0 5.29-12.72zM8 14.12a6.12 6.12 0 0 1-3.15-.87l-.22-.13-2.34.61.62-2.28-.14-.23a6.18 6.18 0 0 1 9.6-7.65 6.12 6.12 0 0 1 1.81 4.37A6.19 6.19 0 0 1 8 14.12z" />
                            </svg>
                        </a>
                    </div>
                    <div class="icon-contacts">
                        <a class="wk" href="https://vk.com/it_school_omsk">
                            <svg width="25px" height="25px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                                fill="#0e2790" stroke="" style="margin-top: 1px;">

                                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                    stroke="#0e2790C" stroke-width="2.112">

                                    <defs>

                                        <style>
                                            .a {
                                                fill: none;
                                                stroke: #0e2790;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                            }
                                        </style>

                                    </defs>

                                    <path class="a"
                                        d="M27.55,35.19V28.55c4.46.68,5.87,4.19,8.71,6.64H43.5a29.36,29.36,0,0,0-7.9-10.47c2.6-3.58,5.36-6.95,6.71-12.06H35.73c-2.58,3.91-3.94,8.49-8.18,11.51V12.66H18l2.28,2.82,0,10.05c-3.7-.43-6.2-7.2-8.91-12.87H4.5C7,20.32,12.26,37.13,27.55,35.19Z" />

                                </g>

                                <g id="SVGRepo_iconCarrier">

                                    <defs>

                                        <style>
                                            .a {
                                                fill: none;
                                                stroke: #0e2790;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                            }
                                        </style>

                                    </defs>

                                    <path class="a"
                                        d="M27.55,35.19V28.55c4.46.68,5.87,4.19,8.71,6.64H43.5a29.36,29.36,0,0,0-7.9-10.47c2.6-3.58,5.36-6.95,6.71-12.06H35.73c-2.58,3.91-3.94,8.49-8.18,11.51V12.66H18l2.28,2.82,0,10.05c-3.7-.43-6.2-7.2-8.91-12.87H4.5C7,20.32,12.26,37.13,27.55,35.19Z" />

                                </g>

                            </svg>
                        </a>
                    </div>
                    <div class="icon-contacts">
                        <a class="telegram" href="https://t.me/+FN35ct2jsjpmYmZi">
                            <svg width="20px" height="2-0px" viewBox="0 0 24 24" fill="#0e2790"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M23.1117 4.49449C23.4296 2.94472 21.9074 1.65683 20.4317 2.227L2.3425 9.21601C0.694517 9.85273 0.621087 12.1572 2.22518 12.8975L6.1645 14.7157L8.03849 21.2746C8.13583 21.6153 8.40618 21.8791 8.74917 21.968C9.09216 22.0568 9.45658 21.9576 9.70712 21.707L12.5938 18.8203L16.6375 21.8531C17.8113 22.7334 19.5019 22.0922 19.7967 20.6549L23.1117 4.49449ZM3.0633 11.0816L21.1525 4.0926L17.8375 20.2531L13.1 16.6999C12.7019 16.4013 12.1448 16.4409 11.7929 16.7928L10.5565 18.0292L10.928 15.9861L18.2071 8.70703C18.5614 8.35278 18.5988 7.79106 18.2947 7.39293C17.9906 6.99479 17.4389 6.88312 17.0039 7.13168L6.95124 12.876L3.0633 11.0816ZM8.17695 14.4791L8.78333 16.6015L9.01614 15.321C9.05253 15.1209 9.14908 14.9366 9.29291 14.7928L11.5128 12.573L8.17695 14.4791Z"
                                    fill="#0e2790" />
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
            <div class="banner">
                <div class="banner-img" style="background-image: url({% static "images/banner.jpg" %});">
                </div>

            </div>
            <div class="shop">
                <header>
                    <h1>Достижения - это повод для праздника! Позвольте нам помочь вам отметить свой успех.</h1>
                </header>
                <hr>
                <div class="cards">
                    {% for i in items %}
                    <div class="card">
                        <div class="cover item-b">
                            <img class="image-card" src="static/images/{{i.fileName}}" alt="">
                            <h1>{{i.name}} - {{i.count}} шт<br></h1>
                            <span class="price">{{i.cost}} 🎁</span>
                            <div class="card-back">
                                <h4 id="#ccc">
                                    {{i.description}}
                                </h4>
                                <button type="button" onclick="makeDisplayFlex('pop_up_info_get')">Получить</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <footer>
                <hr>
                <h4
                    style="color: #a7a7a7;   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px; opacity: .8; font-weight: 350; text-align: center;">
                    ООО "Омская АЙ-ТИ Академия" © 2024 г. Все права защищены </h4>
            </footer>
        </div>
    </div>
</body>

</html>